:root {
  font-family: "Urbanist", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0.87);
  color: #000;
  user-select: none;

  --dark: #242424;
  --black: rgba(0, 0, 0, 0.8);
  --gray: rgba(255, 255, 255, 0.4);
  --white: rgba(255, 255, 255, 0.87);
  --dark-white: #f9f9f9;
  --purple: #9d4edd;

  --font-xs: 0.5rem;
  --font-sm: 1rem;
  --font-md: 2rem;
  --font-lg: 4rem;
  --font-xl: 5.5rem;
  --font-2xl: 7rem;
}
