.modal {
  position: absolute;
  outline: none;
  border: none;
  border-radius: 7px;
  width: max-content;
  height: max-content;
  max-height: 300px;
  z-index: 1000;
  min-width: 200px;
  background-color: var(--dark-white);
  color: var(--black);
  margin: 0;
  padding: 15px 6px;
  overflow-y: auto;
}

.modal .remove-icon {
  text-align: end;
}

body.dark .modal {
  background-color: #000;
  color: var(--white) !important;
}

.modal ul {
  list-style: none;
  text-align: start;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  cursor: pointer;
}

.modal ul li {
  padding: 10px;
}

.modal ul li:hover,
.modal .active {
  background-color: var(--dark);
  color: var(--white);
}

.modal ul li:hover {
  animation: roundIt 0.5s ease-in 0s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.modal .active {
  border-radius: 50px;
  animation: none !important;
  color: var(--white);
}
