header {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
  align-items: center;
}

main {
  padding: 10px 40px 100px;
}

main > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  animation: slideIn 0.4s ease-in 0s;
}

body.list-view main > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0px;
  row-gap: 30px;
}

.page-title {
  font-size: var(--font-md);
  font-weight: 900;
}

.card.card-add {
  background-color: var(--dark-white);
  display: flex;
  align-items: center;
}

.card-add > div {
  width: 100%;
}

body.dark .card.card-add {
  background-color: var(--black) !important;
  color: var(--white);
  filter: none !important;
}

.menu {
  border-radius: 5px;
  display: flex;
  column-gap: 10px;
  background-color: var(--dark-white);
  padding: 5px 10px;
}

body.dark .menu {
  background-color: var(--black) !important;
}

.menu-mobile {
  display: none;
}

@media (max-width: 480px) {
  .page-title {
    font-size: calc(var(--font-sm) + 0.2rem);
  }

  .menu {
    column-gap: 1px;
    padding: 0;
    position: absolute;
    top: 80px;
    z-index: 1000;
  }

  .menu-mobile {
    display: block;
  }

  header {
    padding: 20px 5px;
  }

  main {
    padding: 10px;
  }

  main > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
