::-webkit-scrollbar {
  width: 5px;
}

:root {
  color: $dark;
  font-family: $quicksand;
}

#root {
  padding: 50px 40px 100px;

  @media (max-width: 480px) {
    padding: 30px 10px;
  }
}

button,
input {
  all: unset;
}
