.main {
  &__cards-view-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    row-gap: 30px;
  }

  &__cards-view-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    animation: slideIn 0.4s ease-in 0s;
  }

  &__add-event {
    background-color: $dark-white;
    display: flex;
    align-items: center;
    justify-content: center !important;
  }
}

@media (max-width: 480px) {
  .main {
    &__cards-view-grid {
      display: flex;
      flex-direction: column;
    }
  }
}
