.card {
  padding: 23px 20px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: auto;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__desc {
      margin-bottom: 10px;
      font-weight: 500;
      word-break: break-all;
      color: $dark-lighter;
      font-size: calc($font-sm + 0.3rem);
    }

    &__count {
      display: flex;
      align-items: center;
      column-gap: 10px;
      font-size: calc($font-sm - 0.1rem);
      flex-wrap: wrap;
    }
  }

  &__delete {
    align-self: flex-start;

    > ion-icon {
      font-size: calc($font-sm + 0.3rem);
    }

    @media (max-width: 480px) {
      margin-top: 20px;
    }
  }
}
