.card {
  filter: drop-shadow(3px 3px 4px var(--black));
  padding: 30px 30px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  color: var(--black);
  height: auto;
}

.card:hover {
  opacity: 0.85;
}

.card-hover {
  visibility: visible;
}

.card-unhover {
  visibility: hidden;
}

.card-desc-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-desc {
  background-color: transparent;
  outline: none;
  border: none;
  margin-bottom: 30px;
  font-weight: 600;
  word-break: break-all;
  display: flex;
  flex: 1;
  color: var(--black);
}

.card-desc,
.card-desc::placeholder {
  font-size: calc(var(--font-sm) + 0.4rem);
}

.card-desc::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.card-count {
  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-wrap: wrap;
  font-size: calc(var(--font-sm) + 0.2rem);
}

.card-count-date {
  font-size: calc(var(--font-xs) + 0.3rem);
}

.card-form-date {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  max-width: 220px;
}

.colors {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.color-circle {
  height: 25px !important;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.color-circle:hover {
  transform: scale(1.2);
}

body.dark .card {
  filter: drop-shadow(3px 3px 1px var(--black)) !important;
}
