@use "variable" as var;

.color-circle--#{var.$light-green-code} {
  background-color: var.$light-green-color;
}

.color-circle--#{var.$light-blue-code} {
  background-color: var.$light-blue-color;
}

.color-circle--#{var.$light-yellow-code} {
  background-color: var.$light-yellow-color;
}
