/*colors*/
$dark: #262626;
$dark-lighter: #242424;
$black: rgba(0, 0, 0, 0.8);
$gray: #f6f6f6;
$white: rgba(255, 255, 255, 0.87);
$dark-white: #f9f9f9;
$purple: #9d4edd;

/*fonts*/
$quicksand: "Quicksand", sans-serif;

/*fonts size*/
$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 2rem;
$font-lg: 4rem;
$font-xl: 5.5rem;
$font-2xl: 7rem;
