@import "variable";

::-webkit-scrollbar {
  width: 5px;
}

:root {
  color: $dark;
  font-family: $quicksand;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;

  &:has(.dark) {
    background-color: $dark;
    color: $white;
  }
}

#root {
  position: relative;
  width: 100%;
  height: 100%;
}

.homepage {
  padding: 60px;

  @media (max-width: 480px) {
    padding: 50px 10px;
  }
}

button,
input {
  all: unset;
}

svg {
  font-size: 2rem;
}

@import "header";
@import "modal";
@import "cards";
@import "animation";
@import "color-circle";
